@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }

  33% {
    transform: tranlateX(33%);
  }

  66% {
    transform: tranlateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes drop-from-top {
  0% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
